body {
  background-color: lightgray;
}

h1 {
  font-size: 5rem;
  color: blue;
  margin-bottom: 1rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

.container {
  width: 100vw;
  max-width: 60rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  font-size: 2rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid blue;
  text-decoration: none;
  color: blue;
  background-color: white;
  margin-bottom: 1rem;
}

/* Form */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 20rem;
  font-size: 2rem;
  border: none;
}

/* Game & Question  */
.choice-container {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  border: 0.1rem solid black;
  background-color: white;
  margin-bottom: 0.75rem;
}

.choice-container:hover {
  cursor: pointer;
  background: #777;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  margin-left: 1.5rem;
  background-color: blue;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

/* Loader from W3 */
#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
